<div class="flex items-center justify-between py-12 flex-wrap">
  <div class="flex items-center gap-4">
    <img class="rounded-[50%] w-[70px]" [src]="userData.imageUrl" alt="image" />
    <div>
      <h1 class="text-3xl font-medium m-0">
        Welcome back, {{ userData.username.split(" ")[0] }}
      </h1>
      <div class="flex items-center gap-1">
        <mat-icon class="h-[16px] w-[16px] text-[16px] text-gray-500"
          >notifications</mat-icon
        >
        <span class="text-gray-600">
          You have got {{ userData.notifications.length }} new messages and 15
          new tasks
        </span>
      </div>
    </div>
  </div>
  <div class="flex items-center gap-2">
    <button mat-button class="rounded-3xl bg-black text-white px-4 py-4">
      <mat-icon class="text-white">email</mat-icon>
      Messages
    </button>
    <button
      mat-button
      class="rounded-3xl bg-custom-primary-400 text-white px-4 py-4"
    >
      <mat-icon class="text-white">settings</mat-icon>
      Settings
    </button>
  </div>
</div>
