<div class="py-4">
  <div class="grid xl:grid-cols-4 gap-4">
    <app-stat-card
      *ngFor="let stat of staticCards"
      [title]="stat.title"
      [statData]="stat.number"
      [statType]="stat.type"
      [footerContent]="'Completed: ' + stat.completed"
    ></app-stat-card>
  </div>

  <mat-card class="mt-4 rounded-2xl p-4">
    <mat-card-header class="flex items-center justify-between p-0">
      <mat-card-title>Github Issues Summary</mat-card-title>
      <div class="flex items-center gap-1">
        <div class="bg-gray-300 rounded-2xl py-1.5 px-4 hover:cursor-pointer">
          Last Week
        </div>
        <div class="rounded-2xl py-1.5 px-4 hover:cursor-pointer">
          This Week
        </div>
      </div>
    </mat-card-header>
    <mat-card-content class="grid xl:grid-cols-2 gap-4">
      <img
        src="https://assets-us-01.kc-usercontent.com/cddce937-cf5a-003a-bfad-78b8fc29ea3f/d339008c-bcfd-45bb-8292-d05899d536db/combination%20chart.png"
        alt=""
      />
      <div>
        <p>Overview</p>
        <div class="grid grid-cols-4 gap-4">
          <div
            *ngFor="let card of staticCards2; let i = index"
            [ngClass]="{
              'bg-green-400 h-[200px]': i === 0,
              'bg-pink-400 h-[200px]': i === 1,
              'col-span-2': i === 0 || i === 1,
              'bg-gray-300 h-[100px]': !(i === 0 || i === 1)
            }"
            class="rounded-lg flex flex-col items-center justify-center bg-opacity-50 text-center"
          >
            <span
              [ngClass]="{
                'text-3xl': true,
                '!text-6xl': i === 0 || i === 1
              }"
              >{{ card.number }}</span
            >
            <span [ngClass]="{ 'text-lg': i === 0 || i === 1 }">{{
              card.type | titlecase
            }}</span>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
