<mat-sidenav-container class="absolute left-0 right-0 top-0 bottom-0">
  <mat-sidenav
    class="border-none bg-custom-primary-500 text-white w-72 overflow-hidden"
    #leftSideNav
    opened
    mode="side"
  >
    <app-left-sidenav></app-left-sidenav>
  </mat-sidenav>
  <mat-sidenav
    class="border-none shadow-md w-16"
    opened
    mode="side"
    position="end"
  >
    <app-right-sidenav></app-right-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="relative">
    <app-home-header (onToggleLeftSideNav)="leftSideNav.toggle()">
    </app-home-header>
    <button
      mat-button
      class="fixed z-50 hover:cursor-pointer top-[250px] right-[40px] bg-red-600 pl-0 text-white rounded-l-2xl"
    >
      <mat-icon class="text-white">settings</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
