<div class="flex justify-center items-center h-16 shadow-sm">
  <button mat-icon-button>
    <mat-icon>chat_bubble_outline</mat-icon>
  </button>
</div>
<div>
  <div matRipple class="hover:bg-gray-100 hover:cursor-pointer p-3">
    <span class="relative">
      <img
        class="rounded-[50%]"
        src="https://images.pexels.com/photos/428328/pexels-photo-428328.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="image"
      />
      <app-badge
        size="medium"
        className="text-white bottom-[-2px] right-[-2px] bg-custom-primary-400 border-white border-[3px]"
      >
      </app-badge>
    </span>
  </div>
</div>
