<div class="flex justify-center items-center h-16 shadow-sm">
  <button mat-icon-button>
    <mat-icon>chat_bubble_outline</mat-icon>
  </button>
</div>
<div>
  <div
    *ngFor="let user of users"
    matRipple
    class="hover:bg-gray-100 hover:cursor-pointer p-3"
  >
    <span class="relative">
      <img
        class="rounded-[50%] w-10 h-10 object-cover"
        [src]="user.imageUrl"
        alt="image"
      />
      <app-badge
        *ngIf="user.hasBadge"
        size="medium"
        className="text-white bottom-[-2px] right-[-2px] bg-custom-primary-400 border-white border-[3px]"
      >
      </app-badge>
    </span>
  </div>
</div>
