<div class="bg-white">
  <div class="max-w-[1440px] m-auto px-6">
    <app-project-hero [userData]="userData"></app-project-hero>
  </div>
</div>
<div class="bg-gray-100 h-full">
  <div class="max-w-[1440px] m-auto p-6 relative">
    <div
      class="absolute hover:cursor-pointer rounded-xl bg-gray-100 flex items-center p-2 px-3 left-[24px] top-[-30px]"
    >
      ACME Corp. Backend App
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <mat-tab-group
      animationDuration="0ms"
      mat-stretch-tabs="false"
      mat-align-tabs="start"
    >
      <mat-tab label="Home">
        <app-statistic-boards></app-statistic-boards>
      </mat-tab>
      <mat-tab label="Budget">Content 2</mat-tab>
      <mat-tab>
        <ng-template class="relative" mat-tab-label>
          Team
          <app-badge
            size="medium"
            content="6"
            className="bg-gray-500 relative ml-2 text-white"
          ></app-badge>
        </ng-template>
        Content 3
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
